button {
  background-color: $clr4;
  border: 1px solid;
  cursor: pointer;
  padding: 10px 25px;
  color: white;
  transition: background-color 0.3s;
  background-color: transparent;
  border-color: $clr2;
  border-width: 2px;
  border-radius: 20px;
  font-family: roboto-bold;
  &:hover {
    background-color: $clr2;
  }
  &:focus {
    outline: 0;
  }
}
/////////////// CLOSE BTN

.close-btn {
  &::before {
    content: "X"; // here is your X(cross) sign.
    color: #fff;
  }
  &:hover {
    &::before {
      color: black;
    }
  }
}
