.notification-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    margin: 0 auto;
    max-width: 50px;
    min-width: 325px;
    border-radius: 4px;
    min-height: 50px;
    display: flex;
    align-items: center;
    z-index: 9999;
    color: white;

    p{
        padding-left: 5px;
    }

    &.err {
        background-color: #ff0033;
    }

    &.info {
        background-color: $clr4;
    }

    &.success {
        background-color: $clr4;
    }
}
.fade-enter {
    opacity: 0;
    transition: opacity .5s ease;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity .5s ease;
}

.fade-exit {
    opacity: 1;
    transition: opacity .5s ease;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity .5s ease;
}